@model SICI.Modelo.Tbl_AsistenciaTransferencias

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>¿Está seguro de eliminar este registro?</h3>
<div>
    <h4>AsistenciaTransferencias</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_InformacionBasicaUsuario.NombreCompleto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_InformacionBasicaUsuario.NombreCompleto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_Sedes.NombreSede)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_Sedes.NombreSede)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_Transferencias.NombreTransferencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_Transferencias.NombreTransferencia)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("regresar", "Index")
        </div>
    }
</div>
