@model IEnumerable<SICI.Modelo.Tbl_Inscripciones>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Inscribir a nueva transferencia", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nombre completo
        </th>
        <th>
            Transferencia
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tbl_InformacionBasicaUsuario.NombreCompleto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tbl_Transferencias.NombreTransferencia)
        </td>
        <td>
            <a href="@Url.Action("Edit", new { id=item.IdInscripcion})" class="btn btn-mini btn-info icon-Edit glyphicon glyphicon-pencil"> Editar</a>
            <a href="@Url.Action("Details", new { id=item.IdInscripcion })" class="btn btn-mini btn-success icon-Edit glyphicon glyphicon-eye-open"> Detalles</a>
            <a href="@Url.Action("Delete", new { id=item.IdInscripcion })" class="btn btn-mini btn-danger icon-Edit glyphicon glyphicon-trash"> Eliminar</a>
        </td>
    </tr>
}

</table>
