@model IEnumerable<SICI.Modelo.Tbl_Transferencias>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<p>
    @Html.ActionLink("Nueva transferencia", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Nombre transferencia
        </th>
        <th>
            Descripcion
        </th>
        <th>
            Cupos iniciales
        </th>
        <th>
            Cupos actuales
        </th>
        <th>
            Fecha inicio
        </th>
        <th>
            Fecha fin
        </th>
        <th>
            Fecha creacion
        </th>
        <th>
           Especializacion
        </th>
        <th>
           Estado
        </th>
        <th>
           Sede
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreTransferencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CuposIniciales)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CuposActuales)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaFin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaCreacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tbl_Especializacion.DescripcionEspecializacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tbl_Estados.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tbl_Sedes.NombreSede)
        </td>
        <td>
            <a href="@Url.Action("Edit", new { id=item.IdTransferencia })" class="btn btn-mini btn-info icon-Edit glyphicon glyphicon-pencil"> Editar</a>
            <a href="@Url.Action("Details", new { id=item.IdTransferencia })" class="btn btn-mini btn-success icon-Edit glyphicon glyphicon-eye-open"> Detalles</a>
            <a href="@Url.Action("Delete", new { id=item.IdTransferencia })" class="btn btn-mini btn-danger icon-Edit glyphicon glyphicon-trash"> Eliminar</a>
        </td>
    </tr>
}

</table>
