@model IEnumerable<SICI.Modelo.Tbl_InformacionBasicaUsuario>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table class="table">
    <tr>
        <th>
            Cedula
        </th>
        <th>
            Nombre completo
        </th>
        <th>
            Email
        </th>
        <th>
            Telefono
        </th>
        <th>
            AspNetUsers.Email
        </th>
        <th>
            Discapacidad
        </th>
        <th>
            Estados
        </th>
        <th>
            Perfil
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cedula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreCompleto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUsers.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tbl_Discapacidades.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tbl_Estados.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tbl_Perfiles.Descripcion)
        </td>
        <td>
            <a href="@Url.Action("Edit", new { id=item.Id })" class="btn btn-mini btn-info icon-Edit glyphicon glyphicon-pencil"> Editar</a>
            <a href="@Url.Action("Details", new { id=item.Id})" class="btn btn-mini btn-success icon-Edit glyphicon glyphicon-eye-open"> Detalles</a>
            <a href="@Url.Action("Delete", new { id=item.Id})" class="btn btn-mini btn-danger icon-Edit glyphicon glyphicon-trash"> Eliminar</a>
        </td>
    </tr>
}

</table>
