@model IEnumerable<SICI.Modelo.Tbl_Anuncios>
@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var conteo = 0;
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Inicio</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">

    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-tasks fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@Html.Raw(ViewBag.conteoTrasferencias )</div>
                        <div>Cursos Disponibles</div>
                    </div>
                </div>
            </div>
            <a href="../Tbl_Inscripciones">
                <div class="panel-footer">
                    <span class="pull-left">Ver cursos</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-support fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@Html.Raw(ViewBag.conteoSedes)</div>
                        <div>Sedes disponibles</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <!--
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">

          

                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-comments fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">26</div>
                        <div>New Comments!</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-shopping-cart fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">124</div>
                        <div>New Orders!</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>-->
   
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">

        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-clock-o fa-fw"></i>Últimos Anuncios
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <ul class="timeline">
 
                                        @foreach (var item in Model)
                                        {
                                             
                                                <li @(conteo % 2 == 1 ? String.Empty : "class=timeline-inverted")>
                                            

                                                    <div class="timeline-badge warning">
                                                        <i class="fa fa-credit-card"></i>
                                                    </div>
                                                    <div class="timeline-panel">
                                                        <div class="timeline-heading">
                                                            <h4 class="timeline-title">@Html.DisplayFor(modelItem => item.TituloAnuncio)</h4>
                                                            <p>
                                                                <small class="text-muted"><i class="fa fa-clock-o"></i>Autor: @Html.DisplayFor(modelItem => item.AutorAnuncio) @Html.DisplayFor(modelItem => item.FechaCreacionAnuncio)</small>
                                                            </p>
                                                        </div>
                                                        <div class="timeline-body">
                                                            <p>@Html.DisplayFor(modelItem => item.DescripcionAnuncio)</p>
                                                        </div>
                                                    </div>
                                                </li>
                                            conteo++;
                                        }


                </ul>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-8 -->
    
        <!-- /.panel .chat-panel -->
    </div>
    <!-- /.col-lg-4 -->
</div>
<!-- /.row -->

